html{
  font-family:sans-serif;
}
body{
  margin:0
  margin:center;
  
}
h1,h2,h3,h4,h5,h6{margin:25px 0 15px 0}
h2{
  font-size: 17px;font-weight: bold;
}
#wrapper{
  width: 80%;
  margin: 0 auto;
}
.row{
  width: 100%;
	height: 20px;
  display: inline-block;
  margin-bottom: 5px;
}
.lbltitle{
  width:20%;
  float:left;
}
.lblinput, .lbloutput{
  width: 80px;
  height: 20px;
  float:left;
}
.submit{
  padding: 10px 0;
  text-align: center;
  width: 50%;
}
